<ion-modal-view style="margin-top: 43px">
  <ion-header-bar>
    <h1 class="title" style="text-align: center;">За нас!</h1>
    <div class="buttons">
      <button class="button button-balanced" ng-click="closeAbout()"><ion-icon name="arrow-round-back" size="large"></ion-icon></button>
    </div>
  </ion-header-bar>
  <ion-content>
		
		<div class="list card">
		  
		  <div class="item item-avatar">
			<img src="img/team_js.jpg">
			<h2>***.com  / 2019 ©</h2>
			<p>  ***@gmail.com!</p>
			<p>Тел за връзка: ****</p>
		  </div>

		  <div class="item item-body">
			<img class="full-image" src="img/team_css.jpg">
			<h4 >Здравейте,</h4>
			<p>
				Ние сме група млади, ентусиазирани граждани на Казанлък. Създадохме този сайт доброволно, мислейки как да направим нещо полезно за жителите на града. 
				Разработването му започва през юли 2019г. 
			</p>
			<p>Целта ни е да организираме пространство, в което да 
			улесним покупко-продажбения процес като предоставим актуални обяви за работа, автомобили, имоти както и продукти в района на град Казанлък. </p>
			</p>Но ние не 
			се ограничаваме само с предложения от материален тип - с този сайт също така потребителите могат да комуникират помежду си и да създават нови приятелства.
			</p>
		  </div>

		</div>
  </ion-content>
</ion-modal-view>
